<h2><%= title %></h2>
<span><%= error %></span>
<form action="/login" method="post">
    username: <input name="user" type="text"><br>
    password: <input name="pwd" type="text"><br>

    <button type="submit">submit</button>
</form>